
@import url(https://fonts.googleapis.com/css?family=Instrument+Serif:regular,italic);

/* Локальне підключення шрифтів */
@import url("fonts.css");

/* Скидання стилів */
@import url("reset.css");

/* Основні стилі */
body {
color: #fff;
background-color: #aa9ca8;
font-family:"Instrument Serif";
}
.wrapper {
min-height: 100%;
overflow: clip; 
display: flex;
flex-direction: column;
}

.wrapper > main {
flex-grow: 1;
}

[class*="__container"] {
max-width: 1316px;
padding-inline: 15px;
margin: 0 auto;
}

.page {
width: 100%; 
}

.header__title { font-size: 40px;
text-align: center;
padding-block: 50px;}



.grid__items {
display: grid;
grid-template-columns: repeat(4, 1fr);
row-gap: 24px;
column-gap: 32px;
}


.item__title {
position: relative;
z-index: 2;

} 
.item__title span {
color: #FFF;
font-size: 35px;
letter-spacing: 1.5px;
line-height: 1.2;
position: absolute;
bottom: 30px;
left: 20px;} 

.item__image {aspect-ratio: 305 / 152;}
.item__content img{
width: 100%;
height: 100%;
object-fit:cover;
border-radius: 10px;
z-index: -1;}	

.item:nth-child(17n + 3),
.item:nth-child(17n + 9),
.item:nth-child(17n + 11),
.item:nth-child(17n + 14),
.item:nth-child(17n + 17) {
grid-row: span 1;	 }

.item:nth-child(17n + 3) .item__content,
.item:nth-child(17n + 5) .item__content,
.item:nth-child(17n + 9) .item__content,
.item:nth-child(17n + 11) .item__content,
.item:nth-child(17n + 14) .item__content,
.item:nth-child(17n + 17) .item__content {
aspect-ratio: 305 / 152;
}

.item:nth-child(17n + 1),
.item:nth-child(17n + 4),
.item:nth-child(17n + 8),
.item:nth-child(17n + 10),
.item:nth-child(17n + 16) {
grid-row: span 2; 
}	

.item:nth-child(17n + 1) .item__content,
.item:nth-child(17n + 4) .item__content,
.item:nth-child(17n + 8) .item__content,
.item:nth-child(17n + 10) .item__content,
.item:nth-child(17n + 16) .item__content {
aspect-ratio: 305 / 184;
}

.item:nth-child(17n + 2),
.item:nth-child(17n + 5),
.item:nth-child(17n + 6),
.item:nth-child(17n + 7),

.item:nth-child(17n + 12),
.item:nth-child(17n + 15) {
grid-row: span 3;
}

.item:nth-child(17n + 2) .item__content,
.item:nth-child(17n + 6) .item__content,
.item:nth-child(17n + 7) .item__content,
.item:nth-child(17n + 12) .item__content,
.item:nth-child(17n + 15) .item__content {
aspect-ratio: 305 / 296;
}


.item:nth-child(17n + 13) {
grid-row: span 5;
}
 
.item:nth-child(17n + 13) .item__content {
aspect-ratio: 305 / 504;
}

@media(max-width: 1000px) {
.item__title span{
font-size: 30px;
bottom: 20px;
left: 10px;} 
}

@media(max-width: 800px) {
.item__title span{
font-size: 20px;
bottom: 10px;
left: 5px;} 
}
	
@media(max-width: 600px) {
.item__title span{
font-size: 15px;
bottom: 10px;
left: 7px;} 
}
@media(max-width: 400px) {
.item__title span{
font-size: 15px;
bottom: 7px;
left: 5px;} 
}
.footer {
text-align: center;
padding-block: 15px;
font-size: 25px;
}

.item:nth-child(17n + 14){
grid-row: span 3; 
}	
